* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

ul {
	list-style-type: none;
}

header {
	font-family: "Cormorant Garamond", serif;
	font-family: "Roboto Condensed", sans-serif;
	font-family: "Shadows Into Light", cursive;
	font-size: 25px;
}

#entete {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#container {
	width: 1024px;
	height: 3000px;
	margin: auto;
}

#bg {
	max-width: 1024px;
	max-height: 600px;
}

title {
	font-size: 20px;
}

.texte {
	text-align: left;
	align-items: center;
	padding: 0px 30px;
}

section {
	display: flex;
}

.texte2 {
	flex-direction: row;
	text-align: left;
	padding: 20px 15px;
}

#asper {
	transform: scaleX(-1);
}

@media only screen and (max-width: 1024px) {
	section {
		width: 100%;
		height: 550px;
	}
}

@media only screen and (max-width: 512px) {
	/* Pour mobile : */
	section {
		width: 50%;
		height: 500px;
	}
	h1 {
		display: block;
	}
}
